table {
    width: 400px;
    position: relative;
    
}
th {
    text-align: center;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color:skyblue;
}

tr:nth-child(odd) {
    background-color:rgb(32, 218, 147);
}
body{
    background-color:pink;
}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: rgb(32, 218, 147)}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
